* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #1a1a1a;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  /* color: #c26dbc; */
  text-decoration: none;
}

:root {
  --primay: #eeb5eb;
  --secondary: #c26dbc;
  --icon: #00ead9;
  --secondary: #f8fafc;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0px 5px 14px 0px #ccc;
  background: #eeb5ebbf;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 10000;
  margin-top: 60px;
  display: block;
  float: left;
  background: #fff;
}

.nav-all {
  display: flex;
  justify-content: end;
}

.menu {
  position: absolute;
  right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  margin: 0 20px;
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  background: var(--primay);
  border-radius: 50px;
  text-decoration: none;
}
/* 
.navbar-light .navbar-nav .nav-item {
  margin: 0 20px;
  padding: 10px;
} */

.activelink {
  color: #fff;
  background: var(--primay);
  border-radius: 50px;
  padding: 10px;
  margin: 0 25px;
}
.activelink:hover {
  color: #fff;
  text-decoration: none;
}

.fa-briefcase,
.fa-calendar,
.fa-user {
  color: var(--icon);
}

.username h5 {
  float: left;
  font-size: 18px;
  font-weight: normal;
  margin: 25px 10px 0 0;
  position: relative;
}

#container-avatar {
  float: left;
  height: 50px;
  width: 50px;
}

#container-avatar img {
  border: 4px solid #000;
  border-radius: 100px;
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#container-avatar #badge {
  align-items: center;
  background: #f68867;
  border-radius: 100px;
  color: #fff;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  height: 27px;
  justify-content: center;
  margin: 0 0 0 45px;
  position: absolute;
  text-align: center;
  width: 27px;
}

#container-avatar .entypo-menu {
  float: right;
  font-size: 20px;
  margin: -45px -25px 0 20px;
}

.username:hover .avatar,
.entypo-menu:hover .avatar {
  opacity: 1;
  visibility: visible;
}

.username:hover .entypo-menu {
  color: #6bc6d8;
  transition: all 0.15s;
}

.avatar {
  opacity: 0;
  position: relative;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.15s;
  visibility: hidden;
}

.avatar ul {
  background: #797979;
  border-radius: 4px;
  color: #efefef;
  float: left;
  font-size: 13px;
  left: -35px;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 15px;
}
.avatar ul:hover {
  text-decoration: none;
}

.avatar ul li:first-child:after {
  border-bottom: 10px solid #797979;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 37px;
  top: -10px;
  width: 0;
}

.avatar ul li:first-child:hover:after {
  border-bottom: 10px solid var(--icon);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 37px;
  top: -10px;
  width: 0;
}

.avatar ul li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
  left: -50px;
  padding: 15px;
}

.avatar ul li:last-child {
  border: 0;
}

.avatar ul li span {
  margin: 0 14px 0 0;
}

.avatar ul li:hover {
  background: var(--icon);
  border-bottom: 1px solid var(--icon);
  cursor: pointer;
  text-decoration: none;
}

.avatar ul li a {
  color: #efefef;
}

.avatar ul li a:hover {
  text-decoration: none;
}

@keyframes bo {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.chat {
  width: 50px;
  height: 50px;
}

.out {
  padding-top: 100px;
  background-color: #f4fafc;
  /* height: 100vh; */
}

.jobpost {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 1px -2px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
}

/* .apply{
  background: #c26dbc;
  color: #fff;
  font-size: 16px;
} */

.companylogo {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  background: #f2f2f2;
}

.btnrow {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.btnrow1 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: auto;
}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ed {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-ed {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 3rem 3rem 1rem 2rem;
  border: none;
  border-radius: 12px;
  background: #f2f2f2;
  /* font-weight: 600; */
  width: 100%;
}
.input-ed:focus {
  outline-color: #000;
}

.input-ed:not(:placeholder-shown) + .label,
.input-ed:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}

.input-ed:focus + .label {
  color: #000;
}

.ed-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #000;
  margin-left: 10px;
  margin-bottom: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.button-1 {
  color: #fff;
  border: 3px solid #eeb5eb;
  background-image: -webkit-linear-gradient(
    30deg,
    #eeb5eb 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #eeb5eb 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-1:hover {
  background-position: 100%;
  color: #eeb5eb;
}

.button-2 {
  color: #fff;
  border: 3px solid #00ead9;
  background-image: -webkit-linear-gradient(
    30deg,
    #00ead9 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #00ead9 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #00ead9;
}

.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}

.input-text:focus + .label {
  color: #2196f3;
}

.login {
  display: grid;
  grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: repeat(2, 50vw);
}

.heading-secondary {
  font-size: 8rem;
}

.heading-primary {
  font-size: 5rem;
}

.span-blue {
  color: #2196f3;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.signup-container {
  width: 100%;
  padding: 50px;
  align-items: center;
  /* justify-content: flex-start; */

  grid-column: 1 / 2;
  grid-row: 1;
}

.signup-form {
  max-width: 45rem;
  width: 100%;
}

.text-mute {
  color: #aaa;
}

.input-text {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 3rem 5rem 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background: #c8f4f9;
  width: 100%;
}

.input-text:focus {
  outline-color: #2196f3;
}

.btn {
  padding: 2rem 3rem;
  border: none;
  background: #c26dbc;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}

.btn-login {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 5px 5px #00000020;
}

.btn-login:active {
  box-shadow: none;
}

.btn-login:hover {
  background: #c26dbc;
  color: #fff;
}

.inp {
  position: relative;
  width: 100%;
}

.label {
  pointer-events: none;

  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #00000070;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.2s;
  transform-origin: left;
}

.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}

.input-text:focus + .label {
  color: #2196f3;
}

.input-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #00000070;
}

.input-icon-password {
  cursor: pointer;
}

.btn-google {
  color: #222;
  background: #fff;
  border: solid 1px #eee;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1px 2px #00000020;
}

.btn-google img {
  width: 3rem;
  margin-right: 1rem;
}

.login-wrapper {
  max-width: 45rem;
  width: 100%;
}

.line-breaker .line {
  width: 50%;
  height: 1px;
  background: #eee;
}

.line-breaker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;

  margin: 3rem 0;
}

.line-breaker span:nth-child(2) {
  margin: 0 2rem;
}

.welcome-container {
  background: #eeeeee75;
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem;
}

.lg {
  font-size: 6rem;
}

.welcome-container img {
  width: 100%;
}

.head-jobs {
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.post-card {
  max-height: 900px;
  overflow-y: scroll;
}

.post-card::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .post-card {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.post-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.post-card::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.post-card::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* profile */

.proile-form {
  max-width: 45rem;
  width: 100%;
}

.profile-company {
  padding: 2rem 2rem 2rem 2rem;
}

.profile-card {
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 1px -2px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
}
.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 4px solid #000;
  background: var(--primay);
}

.edit-profile {
  background: var(--primay);
  color: #fff;
  border-radius: 30px;
  padding: 10px;
}

.edit-profile:hover {
  text-decoration: none;
  color: #fff;
}

.work-experience {
  display: flex;
  align-items: center;
}

.workexperience-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Edit-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.job-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-section {
  margin: 30px;
  padding: 30px;
}

.profilelogo {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  background: #eeb5ebbf;
  padding: 10px;
}

.profile-name {
  font-size: 2.5rem;
}

.profile-edit {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.edit-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tel-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.download-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.delete {
  display: flex;
  justify-content: end;
  align-items: center;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 20px;
  border: 1px dashed #000;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.skills-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ass {
  background: #c8f4f9;
  border-radius: 5px;
  color: #aaa;
  text-align: center;
  width: 15%;
  margin-right: 10px;
  font-size: 16px;
}

.css-6od3lo-MuiChip-label {
  font-size: 16px;
}

.years-month {
  background: #c8f4f9;
  border: 1px solid #c8f4f9;
  color: #aaa;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
}

#Period {
  width: 100%;
  padding: 10px;
  background: #c8f4f9;
  border: none;
  border-radius: 10px;
}
#Period:focus {
  /* border: none; */
  outline: none;
}

.option {
  background: #fff;
  border-radius: 0;
}

.searchselect {
  width: 100%;
}

.exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .profile-edit1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
} */

/* profile end */

.jobsearch {
  margin-top: 0;
}

.job {
  color: #eeb5eb;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.jobfilter {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 1px -2px rgb(0 0 0 / 20%);
}

.job-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.search {
  background-color: #fff;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 1px -2px rgb(0 0 0 / 20%);
}

.exper-input {
  padding: 0 20px;
}

section {
  /* height: 50vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem;
}
.head-jobs {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: #222;
}
.search-container {
  margin: 0 1.2rem;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 5px 7px 5px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  align-items: center;
}
.fa-magnifying-glass {
  color: #c9c5c5;
  padding: 7px;
}
#search {
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
}
::placeholder {
  text-align: center;
}
.sea {
  background-color: #eeb5eb;
  border: none;
  padding: 10px 16px;
  color: white;
  box-shadow: 1px 1px 5px #929090;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}
.sea:hover {
  border: 1px solid #eeb5eb;
  color: #eeb5eb;
  background-color: transparent;
  margin-left: 10px;
}

.joblocation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem;
}

#searchlocation {
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
}

/* Chats start */
.whatsapp {
  background: #009688;
  width: 100%;
  height: 100px;
  padding: 30px;
}
.whatsapp_main {
  width: 90%;
  background-color: white;
  height: 450px;
  margin: 0px auto 30px auto;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}
.whatsapp_main_sidemenu {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
}
.whatsapp_main_sidemenu_top .row .avatar {
  height: 70px;
  width: 70px;
}
.whatsapp_main_sidemenu_top .row .avatar img {
  height: 62px;
  width: 62px;
}
.whatsapp_main_sidemenu_middle {
  background-color: #f8f8f8;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  text-align: justify;
}
.whatsapp_main_sidemenu_middle i.fa-search {
  position: absolute;
  top: 58px;
  left: 37px;
  transform: translate(0%, 100%);
  font-size: 20px;
  color: gray;
}
.whatsapp_main_sidemenu_middle input {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 5px 40px;
}
.whatsapp_main_sidemenu_middle input:focus {
  outline: none;
}
.whatsapp_main_sidemenu_bottom {
  background-color: #fff;
}
.whatsapp_main_sidemenu_bottom_chat {
  overflow-y: scroll;
}
.whatsapp_main_body {
  background-color: #f7f9fa;
  width: 100%;
  height: 100%;
  margin: 0 -15px;
  text-align: center;
}
.whatsapp_main_body_image {
  text-align: center;
}
.whatsapp_main_body_image img {
  padding-top: 50px;
}

.whatapp_main_sidemenu_top {
  padding: 5px;
  background: var(--primay);
}
.Avatar {
  height: 49px;
  width: 49px;
  border-radius: 50%;
}

.chat-card {
  max-height: 500px;
  overflow-y: scroll;
}

.chat-card::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .post-card {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.chat-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.chat-card::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.chat-card::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.chats {
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.personal-chat {
  list-style-type: none;
  margin-top: 10px;
  padding: 18px;
  max-height: 425px;
  overflow-y: scroll;
}

.personal-chat::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .post-card {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.personal-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.personal-chat::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.personal-chat::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.personal-edit {
  padding: 5px 20px;
  background: var(--icon);
  max-width: 50%;
  display: block;
  border-radius: 0px 5px 5px 5px;
  margin-bottom: 25px;
  /* font-family: "Open Sans"; */
  font-size: 14px;
  word-break: keep-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.personal-oppsite {
  padding: 5px 20px;
  background: #c26dbc;
  max-width: 50%;
  display: block;
  border-radius: 5px 5px 0px 5px;
  margin-bottom: 25px;
  font-size: 14px;
  word-break: keep-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chat2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.send {
  background-color: #eeb5eb;
  border: none;
  padding: 5px 16px;
  color: white;
  box-shadow: 1px 1px 5px #929090;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}

.message {
  border-radius: 10px;
  border: 1px solid var(--primay);
  padding: 5px 20px;
  box-shadow: 0px 0px 20px -15px #000;
}

.message::placeholder {
  display: flex;
  text-align: left;
  align-items: center;
}

.smile {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

@media only screen and (max-width: 800px) {
  .whatsapp_main_body {
    display: none;
  }
}
/* Chats end */

@media (max-width: 550px) {
  section {
    margin: auto;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  .search-container {
    margin: 10px 0 20px 0;
  }
  .sea {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 54.5%;
  }
  .ass {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .signup-container {
    padding: 20px;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 48.5%;
  }

  .input-text:not(:placeholder-shown) + .label,
  .input-text:focus + .label {
    top: 0.6rem;
    transform: scale(0.75);
  }

  .label {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .signup-container {
    grid-column: 1 / 3;
    grid-row: 1/3;
  }
  .search-container {
    width: 100%;
  }
  .out {
    padding-top: 110px;
  }
  .ass {
    width: 10%;
  }

  /* .welcome-container {
    display: none;
  } */
  /* .nav-all{
    width: 100%;
  } */
}

/*#######################
####responive for mobile screens#######
###############################*/

/*###############################
####responsive for XL screens####
###############################*/
